defmodule <%= module_name %> do
  use GenServer
  require Logger

  def start_link do
    GenServer.start_link __MODULE__, [], name: __MODULE__
  end

  def init([]) do
    {:ok, :state}
  end

  def handle_call(msg, from, state) do
    Logger.debug "#{__MODULE__} received unrecognized call (#{inspect msg}) from #{inspect from}"
    {:reply, :unimplemented_call, state}
  end

  def handle_cast(msg, state) do
    Logger.debug "#{__MODULE__} received unrecognized cast (#{inspect msg})"
    {:noreply, state}
  end

  def handle_info(msg, state) do
    Logger.debug "#{__MODULE__} received unrecognized info (#{inspect msg})"
    {:noreply, state}
  end
end
